<h2 class="mt-4">Listado de Posts</h2>
<p class="mb-4">Nº de posts: {{ num_posts }}</p>

<div class="row">
    <div class="col-md-6">
        <nav aria-label="Paginación">
            <ul class="pagination justify-content-left">
                <li class="page-item" ng-class="{'active':(actually_page==p)}" ng-disabled="p == '...'"
                    ng-repeat="p in pages track by $index">
                    <a class="page-link" ng-if="p != '...'" href="./post/plist/{{ rpp }}/{{ p }}">{{ p }}
                    </a>
                    <span class="page-link" ng-if="p == '...'">{{ p }}</span>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-md-6 text-right">
        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Posts/Página
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="./post/plist/5/{{actually_page}}">5</a>
                <a class="dropdown-item" href="./post/plist/10/{{actually_page}}">10</a>
                <a class="dropdown-item" href="./post/plist/25/{{actually_page}}">25</a>
                <a class="dropdown-item" href="./post/plist/50/{{actually_page}}">50</a>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Título</th>
            <th scope="col">Cuerpo</th>
            <th scope="col">Etiquetas</th>
            <th scope="col">Tools</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="post in posts">
            <td>{{ post.id }}</td>
            <td>{{ post.titulo }}</td>
            <td>{{ post.cuerpo.substring(0, 185) }}...</td>
            <td>{{ post.etiquetas }}</td>
            <td class="text-center">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-light" href="./post/view/{{ post.id }}"><i class="fas fa-eye"></i></a>
                    <a class="btn btn-light" href="./post/edit/{{ post.id }}"><i class="fas fa-edit"></i></a>
                    <a class="btn btn-light" href="./post/remove/{{ post.id }}"><i class="fas fa-trash-alt"></i></a>
                </div>
            </td>
        </tr>
    </tbody>
</table>