<div class="row" style="margin: 4em 0">
    <div class="col-md-4 offset-4">
        <form name="userForm" class="login-form" ng-submit="submitLogin()">
            <h3 class="pb-4 text-center">Blogbuster <span style="font-weight: 300">Administration</span></h3>
            <div class="form-group mt-4">
                <input type="text" class="form-control" name="username" ng-model="username"
                       ng-class="{ 'is-invalid' : userForm.username.$invalid && !userForm.username.$pristine }"
                       id="Usuario"
                       aria-describedby="Usuario" placeholder="&#128100; username" ng-required="true">
                <div class="invalid-feedback" ng-show="userForm.username.$error.required">
                    El nombre de usuario está vacio. Por favor, revisa e inténtalo de nuevo.
                </div>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" ng-model="password"
                       ng-class="{ 'is-invalid' : userForm.password.$invalid && !userForm.password.$pristine }"
                       id="Password"
                       placeholder="&#x1F512; password" ng-required="true">

                <div class="invalid-feedback" ng-show="userForm.password.$error.required">
                    La contraseña está vacia. Por favor, revisa e inténtalo de nuevo.
                </div>
            </div>
            <button type="submit" class="btn btn-primary w-100">Iniciar sesión</i></button>
        </form>
        <div class="card-shadow"></div>
        <div class="alert alert-danger mt-4" role="alert" ng-show="fail_auth">
            Usuario y/o contraseña fallida
        </div>
    </div>
</div>
