<a href="#" ng-click="back()">← Back</a>
<table class="table mt-4">
    <tr>
        <th>Id</th>
        <td>{{ post.id }}</td>
    </tr>
    <tr>
        <th>Título</th>
        <td>{{ post.titulo }}</td>
    </tr>
    <tr>
        <th>Cuerpo</th>
        <td>{{ post.cuerpo }}</td>
    </tr>
    <tr>
        <th>Etiquetas</th>
        <td>{{ post.etiquetas }}</td>
    </tr>
    <tr>
        <th>Fecha</th>
        <td>{{ post.fecha | stringToDate | date : "dd/MM/yyyy" }}</td>
    </tr>
</table>
