<div class="form-group">
    <div class="row">
        <div class="col-6">
            <h5>Título</h5>
            <input type="text" class="form-control" placeholder="Introducir título" ng-model="titulo">
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-8">
            <h5>Cuerpo</h5>
            <textarea name="" cols="30" rows="10" placeholder="Introducir el cuerpo" class="form-control" ng-model="cuerpo"></textarea>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-4">
            <h5>Etiquetas</h5>
            <input type="text" placeholder="Introducir etiquetas" class="form-control" ng-model="etiquetas">
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-12 text-right py-2" style="background-color: #eff0f1">
            <button class="btn btn-primary" ng-click="new()">Añadir</button>
        </div>
    </div>
</div>
