
<div class="row">
    <div class="col-md-6">
        <a href="#" ng-click="back()">← Back</a>
    </div>
    <div class="col-md-6 text-right">
        <span>¿Estás seguro de eliminar este registro?</span>
        <button class="btn btn-danger ml-4" ng-click="remove()">Confirmar</button>
    </div>
</div>

<table class="table mt-4">
    <tr>
        <th>Id</th>
        <td>{{ post.id }}</td>
    </tr>
    <tr>
        <th>Título</th>
        <td>{{ post.titulo }}</td>
    </tr>
    <tr>
        <th>Cuerpo</th>
        <td>{{ post.cuerpo }}</td>
    </tr>
    <tr>
        <th>Etiquetas</th>
        <td>{{ post.etiquetas }}</td>
    </tr>
</table>